src/test/resources/virta_xml/Opintosuoritukset.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.06.1"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified"
  targetNamespace="urn:mace:funet.fi:virta/2015/09/01"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:virta="urn:mace:funet.fi:virta/2015/09/01">

<xs:include schemaLocation="tyypit.xsd">
	<xs:annotation>
		<xs:documentation xml:lang="fi">
			Tiedonsiirtoelementtien tyypit.
		</xs:documentation>
	</xs:annotation>
</xs:include>

<!-- OPINTOSUORITUSTEN RAKENNE -->

<!-- Elementtinä, jos skeema-tiedostoa käytetään suoraan xml-tiedoston skeemana -->
<!-- Tämä on siis ainoa globaali elementti, muutoin oltava jonkin muun elementin sisällä -->
<xs:element name="Opintosuoritukset" type="virta:OpintosuorituksetTyyppi"/>

<!-- Tyyppinä ilman organisaatio- ja lang-attribuutteja, jos skeemaa käytetään sisäkkäisesti toisesta skeemasta -->
<xs:complexType name="OpintosuorituksetTyyppi">
	<xs:annotation>
		<xs:documentation xml:lang="fi">
			Opintosuoritukset
			* Juurielementti useille opintosuorituksille
		</xs:documentation>
		<xs:documentation xml:lang="en">
			Studies
			* Root element for several studies
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="Opintosuoritus" type="virta:OpintosuoritusTyyppi" minOccurs="1" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="OpintosuoritusTyyppi">
	<xs:annotation>
		<xs:documentation xml:lang="fi">
			Opintosuoritus
			* Yksittäinen opintosuoritus
		</xs:documentation>
		<xs:documentation xml:lang="en">
			Study
			* Single study
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="SuoritusPvm" type="virta:PvmTyyppi" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Suorituspäivämäärä.
					
					Päivämäärä jolloin suoritus on tehty tai saatettu hyväksyttävästi loppuun.
					
					Kysymyksiä ja vastauksia (2012-09-25):
					"""
					VIRTA-projektissa ei oteta kantaa siihen mikä on oikea tulkinta, nykyisin
					ainakin seuraavia tulkintaperusteita käytössä:

					voi olla, suoritusjakso kurssin alusta loppuun
					"suorituspäivämäärä" esim. tenttipäivä
					suorituksen arviointipäivämäärä (kun arvosana annetaan)
					suorituksen rekisteröintipäivä (hallinnollinen päivämäärä)
					"""
					Suoritusjaksosta sallimme vain yhden päivämäärän (vaikka loppupvm).
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Laajuus" type="virta:LaajuusLaajennettuTyyppi" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Laajuus. Tietona on mahdollista antaa sekä opintopiste (ects) että opintoviikko (cu).
				</xs:documentation>
				<xs:documentation xml:lang="en">
					Credits. Both ECTS (op) and CU (ov).
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Arvosana" type="virta:ArvosanaTyyppi" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuorituksen arvosana-asteikko ja arvosana.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Myontaja" type="virta:OrganisaatioKoodiTyyppi" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuorituksen myöntänyt organisaatio (oppilaitos). Pakollinen.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Organisaatio" type="virta:OrganisaatioRooliOsuusTyyppi" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuoritukseen liittyvät valinnaiset organisaatiotiedot.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Laji" type="virta:OpintosuoritusLajiKoodiTyyppi" minOccurs="1" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuorituksen laji.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Nimi" type="virta:OpintosuoritusNimiTyyppi" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuorituksen nimi.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Kieli" type="virta:KieliKoodiTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuorituksen kieli (koodisto).
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Koulutuskoodi" type="virta:KoulutuskoodiKoodiTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Koulutuskoodi (Tutkinto) (koodisto).

					Tilastokeskuksen Koulutusluokituksen avaintietona oleva koulutuskoodi.
					Koulutusluokitus 2011: http://www.stat.fi/meta/luokitukset/koulutus/001-2011/kuvaus.html
					Vain tutkinnoille.
					
					Tietosisältö: Tutkintonimike (ID34), Koulutusala (ID35), Tutkinnon taso (ID36)
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Koulutusala" type="virta:KoulutusalaVersioOsuusTyyppi" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Yhdistetty koulutusala (koodisto) osuus-tiedolla.
					
					Tieto tarvitaan kaikista ei tutkinto-opintosuorituksista. Tai tarkemmin
					sanottuna opintosuorituksista, joilla ei ole koulutuskoodi-tietoa, jolloin
					tieto on valinnainen.
					
					Koulutusalan kolme eri versiota (+ 1-2 opintoalaa):
					(* Koulutusala 2002 (opmala)
					(* Koulutusala 1995 (opm95ala)
					(* Koulutusala (kala) (Tilastokeskuksen oma versio)
					(* ISCED 2011 pääluokka (broad fields)
					(* OKM ohjauksen ala
					* ISCED 2011 väliluokka (narrow fields)
					(* Opintoala 1995
					(* Opintoala 2002
					(* ISCED 2011 ala (detailed field) (iscfi2013)
					
					Yliopistoilla on ollut käytössä OPINTOALA 1995.
					Ammattikorkeakouluilla on ollut käytössä KOULUTUSALA 2002.
					Yhteisesti käytetään ISCED 2011 väliluokkaa.
					
					Opintosuoritukseen voi liittyä useita koulutusala-tietoja, jolloin jakautuminen
					voidaan kertoa osuus-tietona. Osuus-tieto on väliltä 0-1.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Sisaltyvyys" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuorituksen sisältyminen toiseen opintosuoritukseen.
					
					Opintosuoritus voi sisältää usean toisen opintosuorituksen. Sisältäminen
					voidaan kertoa opintopistelaajuus-tietona.
					
					Tutkinnot sekä opintosuoritusten muodostamat kokonaisuudet sisältävät
					opintosuorituksia. Tätä kutsutaan myös hierarkiaksi ja ilmiötä kuvataan
					suoritusten ominaisuuksilla:
					"Suorituksen sisältyminen toiseen suoritukseen (jonka id)" ja
					"Suoritukseen sisältyy toisia suorituksia (joiden id:t)" sekä tutkinnon
					ominaisuudella "Tutkintoon sidotut suoritukset".
					Hierarkia kuvataan vain yhteen suuntaan: "tämä opintosuoritus sisältää"
					eli "vanhemmasta lapseen" ("has part").
					
					Muun muassa Tilastokeskuksen tutkintotiedonkeruussa on kerätty tietoa
					erilaisista tutkintoon sisältyvistä opintopistemääristä, joiden osalta jatkossa
					tieto saataisiin laskemalla tutkinnon sisältämien suoritusten laajuudet yhteen.
				</xs:documentation>
			</xs:annotation>
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Opintopiste" type="virta:LaajuusTyyppi" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
				<xs:attribute name="sisaltyvaOpintosuoritusAvain" type="virta:AvainTyyppi" use="required"/>
			</xs:complexType>
		</xs:element>
		<xs:element name="HyvaksilukuPvm" type="virta:PvmTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Suorituksen hyväksilukemisen päivämäärä.
					
					Päivämäärä jolloin aiemmin hankittu osaaminen tunnustetaan hallinnollisella
					päätöksellä hyväksiluetuksi suoritukseksi.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="TKILaajuus" type="virta:LaajuusLaajennettuTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuoritukseen sisältyvän opinnäytetyön tutkimus ja kehittämistoiminnan laajuus (TKI).
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="TKILaajuusHarjoittelu" type="virta:LaajuusLaajennettuTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuorituksen sisältyvän tutkimus ja kehittämistoiminnan osana tehdyn harjoittelun laajuus (TKI).
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="TKILaajuusMuu" type="virta:LaajuusLaajennettuTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuoritukseen sisältyvien muiden opintojen tutkimus ja kehittämistoiminnan laajuus (TKI).
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="OpetusharjoitteluTyyppi" type="virta:OpetusharjoitteluTyyppiKoodiTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuoritus on tehty harjoittelukoulussa ja sen opetusharjoittelun tyyppi -alakategoriassa.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Opinnaytetyo" type="virta:KyllaEiKytkinTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuoritus on tehty opinnäytetyönä. Kyllä/Ei -kytkin (Boolean).
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Hankkeistettu" type="virta:KyllaEiKytkinTyyppi" minOccurs="0" maxOccurs="1">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opinnäytetyö on hankkeistettu. Kyllä/Ei -kytekin (Boolean).
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Patevyys" type="virta:PatevyysKoodiTyyppi" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuoritus on tuottanut pätevyyden (koodisto). Valinnainen. Saa olla useita.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="Luokittelu" type="virta:OpintosuoritusLuokitteluKoodiTyyppi" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuoritus on... (luokittelukoodisto). Valinnainen. Saa olla useita.
					- avoimessa korkeakouluopetuksessa suoritettu
					- tulevan kansainvälisen vaihto-opiskelijan suorittama
					- korkeakoulujen välisillä yhteistyösopimuksilla opiskelevan suorittama
					- erillisellä opiskeluoikeudella opiskelevan suorittama
					- erillisellä opiskeluoikeudella opettajankoulutuksen opintoja suorittavan opiskelijan suorittama
					- maahanmuuttajien valmentavassa koulutuksessa opiskelevan suorittama
				</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element name="JulkinenLisatieto" type="virta:OpintosuoritusJulkinenLisatietoTyyppi" minOccurs="0" maxOccurs="unbounded">
			<xs:annotation>
				<xs:documentation xml:lang="fi">
					Opintosuorituksen lisätiedot. Vain julkiset lisätiedot.
				</xs:documentation>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
	<xs:attribute name="avain" type="virta:AvainTyyppi" use="required">
		<xs:annotation>
			<xs:documentation xml:lang="fi">
				Opintosuorituksen avain. Pakollinen.
				Synonyymejä: "sekvenssi", "surrogaatti".
				
				Opintosuorituksilla, tutkinnoilla, opiskeluoikeuksilla ja henkilöillä on yksilöivä
				id (avain), jolla tarkoitetaan koneellisen aukottoman tunnistamisen mahdollisuutta.
				Tällaista id-tietoa ei nykyisin ole valtakunnallisella tasolla ja jatkossakin
				tieto perustunee korkeakoulun antaman yksilöivän tunnisteen ja korkeakoulun
				tunnisteen yhdistelmään paitsi henkilöiden osalta.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="opiskelijaAvain" type="virta:AvainTyyppi" use="required">
		<xs:annotation>
			<xs:documentation xml:lang="fi">
				Opintosuorituksen tehneen opiskelijan (henkilön) avain. Pakollinen.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="koulutusmoduulitunniste" type="virta:KoulutusmoduulitunnisteTyyppi" use="required">
		<xs:annotation>
			<xs:documentation xml:lang="fi">
				Koulutusmoduulin tunniste. Pakollinen.
				
				Koulutusmoduuli on uusi tietoarkkitehtuurin käsite, joka vastaa eurooppalaisten standardien
				"learning opportunity" -käsitettä (CEN 2011: MLO-AD, ELM EuroLMAI).
				Koulutusmoduuliin voi sisältyä koulutusmoduuleja ja koulutusmoduuli voi esimerkiksi olla
				tutkinto, tutkinnon osa, kokonaisuus tai kurssi.
				Koulutusmoduulin tiedot löytyvät korkeakoulujen omista koulutustarjonta- ja
				opetustarjontatietovarannoista. Tässä tietotarkkitehtuurissa koulutusmoduulin tunnisteet
				ovat varautumista tietojen yhdisteltävyyteen.
				Kuvaus Oppijan tietomallin osassa koulutuksen rakenne
				(https://confluence.csc.fi/display/oppija/Koulutuksen+rakenne).
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="valtakunnallinenKoulutusmoduulitunniste" type="virta:ValtakunnallinenKoulutusmoduulitunnisteTyyppi" use="optional">
		<xs:annotation>
			<xs:documentation xml:lang="fi">
				Valtakunnallisen koulutusmoduulin tunniste. Valinnainen.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="opiskeluoikeusAvain" type="virta:AvainTyyppi" use="optional">
		<xs:annotation>
			<xs:documentation xml:lang="fi">
				Opintosuoritukseen liittyvän opiskeluoikeuden avain. Valinnainen, mutta pakollinen tutkinnoilla.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
</xs:complexType>

</xs:schema>
